* {
  margin: 0;
  padding: 0;
}
#app {
  position: relative;
  background-color: #ccc;
  min-height: 100vh;
  width: 100%;
}
#app .header {
  padding: 0 20px;
  border: solid red 1px;
  height: 20px;
}
#app .nav {
  padding: 0 20px;
  border: solid yellow 1px;
  height: 30px;
}
